body {
    background-color:rgb(42, 29, 21);
    color:rgb(227, 211, 190);
    font-family:Nunito;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color:white;
    text-decoration: none;
}